body{
    margin: 0;
    padding: 0;
    background-color: #6F6F6F;
    font-size: larger;
    font-weight: 500;
}
.App{

    display: flexbox;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;

}
.topspace{
    height: 10vh;
}

.send-box{
    display: flex;
    width: inherit;
    position: fixed;

}

.message-input{
    width: 40vw;
    height: 5vh;
    font-size: larger;

}

.send-button{
    background-color: #28CA00;

}
.response-box{
    background-color: #B1B1B1;
    margin-top: 10vh;
}

.texts{
    margin-top: 1vh;
    padding: 2vh 2vw;
    background-color: #C4C4C4;
}