body{
    margin: 0;
    padding: 0;
    background-color: aqua;
}
.App{

    display: flexbox;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    background-color: rgb(192, 192, 192);
}